@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 44px;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #ffdf8c;
}

.wrapper {
  max-width: 1400px;
  padding: 0 67px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.button {
  background: #f9f9f9;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #2c2c2c;
  padding: 14px 30px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  padding-bottom: 40px;
  border-bottom: 1px solid #f7f7f7;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .header a {
  text-decoration: none;
}

header .header p {
  margin: 0;
}

header .header_title {
  font-size: 24px;
  font-weight: 800;
  color: #181818;
  letter-spacing: 0.01em;
  line-height: 29px;
  text-transform: uppercase;
}

header .header_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #7b7b7b;
}

header .header_logo {
  margin-right: 17px;
}

header .header_content {
  margin-left: 10px;
  margin-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

header .header_button {
  margin-top: 52px;
}

header .header_button_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 23px;
  background-color: #fe5f1e;
  color: #fff;
}

header .header_button_link_line {
  margin: 0 13px;
  width: 1px;
  height: 25px;
  background: rgba(255, 255, 255, 0.25);
}

header .header_button_link_number_products {
  margin-left: 10px;
}

main {
  margin-top: 40px;
  padding-bottom: 100px;
}

main .main_top_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .main_categories ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main .main_categories ul li {
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 9px;
  color: #2c2c2c;
}

main .main_categories ul li:hover {
  background-color: #f0f0f0;
  -webkit-box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1);
}

main .main_categories ul li.main_categories_category_active {
  color: #fff;
  background-color: #282828;
}

main .main_categories ul li.main_categories_category_active:hover {
  background-color: #1b1b1b;
}

main .main_sort {
  margin-bottom: 9px;
  font-size: 15px;
  color: #2c2c2c;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.015em;
  position: relative;
}

main .main_sort_title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main .main_sort_title .arrow {
  content: "";
  display: inline-block;
  margin-right: 7px;
  border-style: solid;
  border-width: 8px 6.5px 0 6.5px;
  border-color: #2c2c2c transparent transparent transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .main_sort_title .arrow.rotated {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

main .main_sort_title .option {
  font-weight: 400;
  color: #fe5f1e;
  cursor: pointer;
}

main .main_sort_popup {
  background-color: #fff;
  padding: 10px 0;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 30px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

main .main_sort_popup ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

main .main_sort_popup ul li {
  padding: 11px;
  margin: 0;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

main .main_sort_popup ul li:hover {
  background-color: whitesmoke;
}

main .main_sort_popup ul li.popup_active {
  font-weight: 700;
  color: #fe5f1e;
  background-color: rgba(254, 95, 30, 0.05);
}

main .main_sort_popup ul li.popup_active:hover {
  background-color: rgba(254, 95, 30, 0.1);
}

main .products_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 17px;
}

main .products h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
}

main .products .product {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
}

main .products .product_front,
main .products .product_back {
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

main .products .product_front {
  -webkit-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
}

main .products .product_back {
  width: 100%;
  color: #fff;
  background-color: #2c2c2c;
  border-radius: 10px;
  -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
  overflow: auto;
}

main .products .product_back .product_img_back {
  opacity: 0.15;
}

main .products .product_back p {
  margin: 13px;
  position: relative;
  text-shadow: 2px 2px 5px black;
}

main .products .product_img_card,
main .products .product_back {
  height: 180px;
}

main .products .product_img_card:hover .product_front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
  transform: perspective(600px) rotateY(-180deg);
}

main .products .product_img_card:hover .product_back {
  -webkit-transform: perspective(600px) rotateY(0);
  transform: perspective(600px) rotateY(0);
}

main .products .product_img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  position: absolute;
}

main .products .product_name {
  margin: 15px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

main .products .product_options {
  background-color: #e6e6e6;
  border-radius: 10px;
}

main .products .product_size {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

main .products .product_size li {
  width: calc(50% - 9px);
  margin: 6px;
  padding: 6px 9px;
  cursor: pointer;
}

main .products .product_size li:last-child {
  margin-left: 0;
}

main .products .product .select {
  position: relative;
}

main .products .product .select select {
  font-weight: 500;
  font-size: 16px !important;
  text-align: center;
  border: none;
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 6px 9px;
  padding-right: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

main .products .product .select select:focus ~ .select_arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

main .products .product .select_arrow {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  pointer-events: none;
  right: 15px;
  top: 11px;
  border-style: solid;
  border-width: 7px 5.5px 0 5.5px;
  border-color: #2c2c2c transparent transparent transparent;
}

main .products .product_li_active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

main .products .product_li_disable {
  opacity: 0.4;
  pointer-events: none;
}

main .products .product_price_add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 17px;
}

main .products .product_price_add .product_price {
  font-weight: 700;
  font-size: 22px;
}

main .products .product_price_add .product_price span {
  color: #999999;
  font-size: 14px;
  margin-left: 8px;
}

main .products .product_price_add .product_button_add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #eb5a1e;
  padding: 7px 18px;
  border: 1px solid #eb5a1e;
  border-radius: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

main .products .product_price_add .product_button_add:hover {
  background: #fe5f1e;
  color: white;
}

main .products .product_price_add .product_button_add:hover .added_count {
  color: #fe5f1e;
  background: #fff;
}

main .products .product_price_add .product_button_add span {
  font-size: 20px;
  margin-right: 7px;
}

main .products .product_price_add .product_button_add span.added_count {
  font-size: 15px;
  background-color: #fe5f1e;
  color: white;
  margin-right: 0;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 7px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 163px 0;
  text-align: center;
}

.cart p {
  margin: 0;
  padding: 0;
}

.cart .cart_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cart .cart_description {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #777777;
  margin-top: 10px;
}

.cart_empty_img {
  margin-top: 65px;
  margin-bottom: 74px;
}

.cart_go_back_link {
  color: #fff;
  background-color: #282828;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cart_go_back_link:hover {
  background-color: #161616;
  -webkit-box-shadow: 0 0 2px 2px rgba(100, 100, 100, 0.4);
  box-shadow: 0 0 2px 2px rgba(100, 100, 100, 0.4);
}

.shopping_cart_wrapper {
  width: 830px;
  margin: 0 auto;
  padding: 100px 0;
}

.shopping_cart_wrapper .shopping_cart_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.shopping_cart_wrapper .shopping_cart_top_title_img {
  width: 29px;
  height: 29px;
  background-image: url(img/shopping_cart.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 17px;
}

.shopping_cart_wrapper .shopping_cart_top_title_text {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.shopping_cart_wrapper .shopping_cart_top_empty_trash {
  cursor: pointer;
}

.shopping_cart_wrapper .shopping_cart_top_empty_trash_img {
  width: 20px;
  height: 20px;
  background-image: url(img/empty_trash.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 7px;
}

.shopping_cart_wrapper .shopping_cart_top_empty_trash_text {
  font-size: 16px;
  line-height: 19px;
  color: #b6b6b6;
  margin: 0;
}

.shopping_cart_wrapper .shopping_cart_top_title,
.shopping_cart_wrapper .shopping_cart_top_empty_trash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shopping_cart_wrapper .shopping_cart_products {
  margin: 30px 0;
}

.shopping_cart_wrapper .shopping_cart_product {
  padding: 30px 0;
  letter-spacing: 0.01em;
  line-height: 27px;
  border-top: 1px solid #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shopping_cart_wrapper .shopping_cart_product:last-child {
  border-bottom: 1px solid #f4f4f4;
}

.shopping_cart_wrapper .shopping_cart_product button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}

.shopping_cart_wrapper .shopping_cart_product_view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40%;
}

.shopping_cart_wrapper .shopping_cart_product_view .img {
  margin-right: 15px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.shopping_cart_wrapper .shopping_cart_product_view .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  image-rendering: -webkit-optimize-contrast;
}

.shopping_cart_wrapper .shopping_cart_product_view .img img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.shopping_cart_wrapper .shopping_cart_product_view_text p {
  margin: 0;
}

.shopping_cart_wrapper .shopping_cart_product_view_text_title {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  margin-bottom: 3px !important;
}

.shopping_cart_wrapper .shopping_cart_product_view_text_options {
  font-size: 18px;
  line-height: 22px;
  color: #8d8d8d;
}

.shopping_cart_wrapper .shopping_cart_product_view span.cheese {
  color: #d6bd1e;
}

.shopping_cart_wrapper .shopping_cart_product_view span.garlic {
  color: #1eb549;
}

.shopping_cart_wrapper .shopping_cart_product_view span.tomato {
  color: #b51e1e;
}

.shopping_cart_wrapper .shopping_cart_product_view span.branded {
  color: #1e23b5;
}

.shopping_cart_wrapper .shopping_cart_product_quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shopping_cart_wrapper .shopping_cart_product_quantity .minus,
.shopping_cart_wrapper .shopping_cart_product_quantity .plus {
  border: 2px solid #fe5f1e;
  color: #fe5f1e;
}

.shopping_cart_wrapper .shopping_cart_product_quantity .minus:hover,
.shopping_cart_wrapper .shopping_cart_product_quantity .plus:hover {
  background-color: #fe5f1e;
  color: white;
}

.shopping_cart_wrapper .shopping_cart_product_quantity .minus {
  margin-right: 12px;
}

.shopping_cart_wrapper .shopping_cart_product_quantity .quantity {
  font-size: 22px;
  font-weight: 700;
}

.shopping_cart_wrapper .shopping_cart_product_quantity .plus {
  margin-left: 12px;
}

.shopping_cart_wrapper .shopping_cart_product .minus,
.shopping_cart_wrapper .shopping_cart_product .plus,
.shopping_cart_wrapper .shopping_cart_product_delete button {
  width: 32px;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  font-weight: 700;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.shopping_cart_wrapper .shopping_cart_product_delete button {
  border: 2px solid #b6b6b6;
  color: #b6b6b6;
  font-size: 16px;
}

.shopping_cart_wrapper .shopping_cart_product_delete button:hover {
  background-color: #b6b6b6;
  color: white;
}

.shopping_cart_wrapper .shopping_cart_bottom_text,
.shopping_cart_wrapper .shopping_cart_bottom_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shopping_cart_wrapper .shopping_cart_bottom_text {
  color: #000;
  font-size: 22px;
  margin-bottom: 40px;
}

.shopping_cart_wrapper .shopping_cart_bottom_text p {
  margin: 0;
}

.shopping_cart_wrapper .shopping_cart_bottom_text span {
  font-weight: 700;
}

.shopping_cart_wrapper .shopping_cart_bottom_text .total_amount_products span {
  color: #fe5f1e;
}

.shopping_cart_wrapper .shopping_cart_bottom_buttons {
  line-height: 19px;
  font-size: 16px;
}

.shopping_cart_wrapper .shopping_cart_bottom_buttons .button_go_back {
  background: #ffffff;
  border: 1px solid #d3d3d3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #cacaca;
  font-weight: 400;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.shopping_cart_wrapper .shopping_cart_bottom_buttons .button_go_back:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.shopping_cart_wrapper
  .shopping_cart_bottom_buttons
  .button_go_back
  .arrow_left {
  width: 6px;
  height: 12px;
  margin-right: 10px;
  display: inline-block;
  background-image: url("img/arrow_left.svg");
  background-repeat: no-repeat;
}

.shopping_cart_wrapper .shopping_cart_bottom_buttons .button_pay {
  color: #fff;
  background-color: #fe5f1e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.shopping_cart_wrapper .shopping_cart_bottom_buttons .button_pay:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.new_applications {
  color: #a90000 !important;
  font-size: 26px !important;
}

.new_applications:before {
  border-color: #a90000;
}

@media screen and (max-width: 1170px) {
  body {
    padding: 30px;
  }
  .wrapper {
    padding: 0 40px;
  }
}

@media screen and (max-width: 1085px) {
  .product {
    width: 260px !important;
  }
  .product_img_card,
  .product_back,
  .product_img {
    height: 160px !important;
  }
}

@media screen and (max-width: 960px) {
  .product {
    width: 300px !important;
  }
  .product_img_card,
  .product_back,
  .product_img {
    height: 180px !important;
  }
}

@media screen and (max-width: 760px) {
  .product {
    width: 260px !important;
  }
  .product_img_card,
  .product_back,
  .product_img {
    height: 160px !important;
  }
}

@media screen and (max-width: 680px) {
  .product {
    width: 300px !important;
  }
  .product_img_card,
  .product_back,
  .product_img {
    height: 180px !important;
  }
}
/*# sourceMappingURL=style.css.map */
