@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 44px;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #ffdf8c;
}

.wrapper {
  max-width: 1400px;
  padding: 0 67px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.button {
  background: #f9f9f9;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #2c2c2c;
  padding: 14px 30px;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  user-select: none;
}

header {
  padding-bottom: 40px;
  border-bottom: 1px solid #f7f7f7;
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      text-decoration: none;
    }
    p {
      margin: 0;
    }
    &_title {
      font-size: 24px;
      font-weight: 800;
      color: #181818;
      letter-spacing: 0.01em;
      line-height: 29px;
      text-transform: uppercase;
    }
    &_description {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #7b7b7b;
    }
    &_logo {
      margin-right: 17px;
    }
    &_content {
      margin-left: 10px;
      margin-top: 54px;
      display: flex;
      flex-wrap: wrap;
    }
    &_button {
      margin-top: 52px;
      &_link {
        display: flex;
        align-items: center;
        padding: 15px 23px;
        background-color: #fe5f1e;
        color: #fff;
        &_line {
          margin: 0 13px;
          width: 1px;
          height: 25px;
          background: rgba(255, 255, 255, 0.25);
        }
        &_number_products {
          margin-left: 10px;
        }
      }
    }
  }
}

main {
  margin-top: 40px;
  padding-bottom: 100px;
  .main {
    &_top_content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    &_categories {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin-right: 9px;
          margin-bottom: 9px;
          color: #2c2c2c;
          &:hover {
            background-color: #f0f0f0;
            box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1);
          }
        }
        li.main_categories_category_active {
          color: #fff;
          background-color: #282828;
          &:hover {
            background-color: #1b1b1b;
          }
        }
      }
    }
    &_sort {
      margin-bottom: 9px;
      font-size: 15px;
      color: #2c2c2c;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0.015em;
      position: relative;
      &_title {
        user-select: none;
        .arrow {
          content: "";
          display: inline-block;
          margin-right: 7px;
          border-style: solid;
          border-width: 8px 6.5px 0 6.5px;
          border-color: #2c2c2c transparent transparent transparent;
          transition: 0.5s;
          &.rotated {
            transform: rotate(180deg);
          }
        }
        .option {
          font-weight: 400;
          color: #fe5f1e;
          cursor: pointer;
        }
      }
      &_popup {
        background-color: #fff;
        padding: 10px 0;
        position: absolute;
        z-index: 999;
        right: 0;
        top: 30px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: inline-block;
          li {
            padding: 11px;
            margin: 0;
            cursor: pointer;
            transition: 0.15s;
            &:hover {
              background-color: rgb(245, 245, 245);
            }
            &.popup_active {
              font-weight: 700;
              color: #fe5f1e;
              background-color: rgba(254, 95, 30, 0.05);
              &:hover {
                background-color: rgba(254, 95, 30, 0.1);
              }
            }
          }
        }
      }
    }
  }
  .products {
    &_catalog {
      display: flex;
      flex-wrap: wrap;
      gap: 17px;
    }
    h1 {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      letter-spacing: 0.01em;
    }
    .product {
      background-color: #f5f5f5;
      border-radius: 10px;
      padding: 10px;
      width: 300px;
      &_front,
      &_back {
        cursor: pointer;
        backface-visibility: hidden;
        transition: all 0.7s;
      }
      &_front {
        transform: perspective(600px) rotateY(0deg);
      }
      &_back {
        width: 100%;
        color: #fff;
        background-color: #2c2c2c;
        border-radius: 10px;
        transform: perspective(600px) rotateY(180deg);
        overflow: auto;
        .product_img_back {
          opacity: 0.15;
        }
        p {
          margin: 13px;
          position: relative;
          text-shadow: 2px 2px 5px black;
        }
      }
      &_img_card,
      &_back {
        height: 180px;
      }
      &_img_card:hover .product_front {
        transform: perspective(600px) rotateY(-180deg);
      }
      &_img_card:hover .product_back {
        transform: perspective(600px) rotateY(0);
      }
      &_img {
        width: 100%;
        height: 180px;
        border-radius: 10px;
        position: absolute;
      }
      &_name {
        margin: 15px 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.01em;
        text-transform: capitalize;
      }
      &_options {
        background-color: #e6e6e6;
        border-radius: 10px;
      }
      &_size {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        li {
          width: calc(50% - 9px);
          margin: 6px;
          padding: 6px 9px;
          cursor: pointer;
          &:last-child {
            margin-left: 0;
          }
        }
      }
      .select {
        position: relative;
        select {
          font-weight: 500;
          font-size: 16px !important;
          text-align: center;
          border: none;
          width: 100%;
          background-color: #e6e6e6;
          border-radius: 10px;
          padding: 6px 9px;
          padding-right: 15px;
          appearance: none;
          cursor: pointer;
          &:focus ~ .select_arrow {
            transform: rotate(180deg);
          }
        }
        &_arrow {
          transition: 0.4s;
          position: absolute;
          pointer-events: none;
          right: 15px;
          top: 11px;
          border-style: solid;
          border-width: 7px 5.5px 0 5.5px;
          border-color: #2c2c2c transparent transparent transparent;
        }
      }
      &_li_active {
        transition: 0.2s;
        background: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
      }
      &_li_disable {
        opacity: 0.4;
        pointer-events: none;
      }
      &_price_add {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 17px;
        .product_price {
          font-weight: 700;
          font-size: 22px;
          span {
            color: #999999;
            font-size: 14px;
            margin-left: 8px;
          }
        }
        .product_button_add {
          display: flex;
          align-items: center;
          font-weight: 700;
          font-size: 16px;
          color: #eb5a1e;
          padding: 7px 18px;
          border: 1px solid #eb5a1e;
          border-radius: 30px;
          transition: 0.2s;
          user-select: none;
          cursor: pointer;
          &:hover {
            background: #fe5f1e;
            color: white;
          }
          &:hover .added_count {
            color: #fe5f1e;
            background: #fff;
          }
          span {
            font-size: 20px;
            margin-right: 7px;
            &.added_count {
              font-size: 15px;
              background-color: #fe5f1e;
              color: white;
              margin-right: 0;
              border-radius: 50%;
              width: 25px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 7px;
            }
          }
        }
      }
    }
  }
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 163px 0;
  text-align: center;
  p {
    margin: 0;
    padding: 0;
  }
  & &_title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.01em;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & &_description {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #777777;
    margin-top: 10px;
  }
  &_empty_img {
    margin-top: 65px;
    margin-bottom: 74px;
  }
  &_go_back_link {
    color: #fff;
    background-color: #282828;
    transition: 0.2s;
    &:hover {
      background-color: #161616;
      box-shadow: 0 0 2px 2px rgba(100, 100, 100, 0.4);
    }
  }
}

.shopping_cart_wrapper {
  width: 830px;
  margin: 0 auto;
  padding: 100px 0;
  .shopping_cart {
    &_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_title {
        &_img {
          width: 29px;
          height: 29px;
          background-image: url(img/shopping_cart.svg);
          background-repeat: no-repeat;
          background-size: cover;
          margin-right: 17px;
        }
        &_text {
          font-size: 32px;
          font-weight: 700;
          line-height: 39px;
          letter-spacing: 0.01em;
          color: #000;
          display: flex;
          align-items: center;
          margin: 0;
        }
      }
      &_empty_trash {
        cursor: pointer;
        &_img {
          width: 20px;
          height: 20px;
          background-image: url(img/empty_trash.svg);
          background-repeat: no-repeat;
          background-size: cover;
          margin-right: 7px;
        }
        &_text {
          font-size: 16px;
          line-height: 19px;
          color: #b6b6b6;
          margin: 0;
        }
      }
      &_title,
      &_empty_trash {
        display: flex;
        align-items: center;
      }
    }
    &_products {
      margin: 30px 0;
    }
    &_product {
      padding: 30px 0;
      letter-spacing: 0.01em;
      line-height: 27px;
      border-top: 1px solid #f4f4f4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:last-child {
        border-bottom: 1px solid #f4f4f4;
      }
      button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
      }
      &_view {
        display: flex;
        align-items: center;
        width: 40%;
        .img {
          margin-right: 15px;
          width: 80px;
          height: 80px;
          border-radius: 10px;
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.2s;
            image-rendering: -webkit-optimize-contrast;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
        &_text {
          p {
            margin: 0;
          }
          &_title {
            font-size: 22px;
            font-weight: 700;
            color: #000;
            margin-bottom: 3px !important;
          }
          &_options {
            font-size: 18px;
            line-height: 22px;
            color: #8d8d8d;
          }
        }
        span {
          &.cheese {
            color: rgb(214, 189, 30);
          }
          &.garlic {
            color: rgb(30, 181, 73);
          }
          &.tomato {
            color: rgb(181, 30, 30);
          }
          &.branded {
            color: rgb(30, 35, 181);
          }
        }
      }

      &_quantity {
        display: flex;
        align-items: center;
        .minus,
        .plus {
          border: 2px solid #fe5f1e;
          color: #fe5f1e;
          &:hover {
            background-color: #fe5f1e;
            color: white;
          }
        }
        .minus {
          margin-right: 12px;
        }
        .quantity {
          font-size: 22px;
          font-weight: 700;
        }
        .plus {
          margin-left: 12px;
        }
      }
      .minus,
      .plus,
      &_delete button {
        width: 32px;
        height: 32px;
        box-sizing: border-box;
        border-radius: 50%;
        font-weight: 700;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
      }
      &_delete {
        button {
          border: 2px solid #b6b6b6;
          color: #b6b6b6;
          font-size: 16px;
          &:hover {
            background-color: #b6b6b6;
            color: white;
          }
        }
      }
    }
    &_bottom {
      &_text,
      &_buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &_text {
        color: #000;
        font-size: 22px;
        margin-bottom: 40px;
        p {
          margin: 0;
        }
        span {
          font-weight: 700;
        }
        .total_amount_products {
          span {
            color: #fe5f1e;
          }
        }
      }
      &_buttons {
        line-height: 19px;
        font-size: 16px;
        .button_go_back {
          background: #ffffff;
          border: 1px solid #d3d3d3;
          box-sizing: border-box;
          color: #cacaca;
          font-weight: 400;
          transition: 0.2s;
          &:hover {
            transform: scale(1.05);
          }
          .arrow_left {
            width: 6px;
            height: 12px;
            margin-right: 10px;
            display: inline-block;
            background-image: url("img/arrow_left.svg");
            background-repeat: no-repeat;
          }
        }
        .button_pay {
          color: #fff;
          background-color: #fe5f1e;
          transition: 0.2s;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

.new_applications {
  color: #a90000 !important;
  font-size: 26px !important;
  &:before {
    border-color: #a90000;
  }
}

// adaptive design

@media screen and (max-width: 1170px) {
  body {
    padding: 30px;
  }
  .wrapper {
    padding: 0 40px;
  }
}

@media screen and (max-width: 1085px) {
  .product {
    width: 260px !important;
    &_img_card,
    &_back,
    &_img {
      height: 160px !important;
    }
  }
}

@media screen and (max-width: 960px) {
  .product {
    width: 300px !important;
    &_img_card,
    &_back,
    &_img {
      height: 180px !important;
    }
  }
}

@media screen and (max-width: 760px) {
  .product {
    width: 260px !important;
    &_img_card,
    &_back,
    &_img {
      height: 160px !important;
    }
  }
}

@media screen and (max-width: 680px) {
  .product {
    width: 300px !important;
    &_img_card,
    &_back,
    &_img {
      height: 180px !important;
    }
  }
}
